	    <script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
	    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/jquery.mmenu.min.js"></script>
		<!--<script type="text/javascript" src="../js/queryloader2.min.js"></script>-->
		<script type="text/javascript" src="../js/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/customejs.js"></script>
		<script type="text/javascript">
		$(window).load(function(){
			$(function() {
				$('nav#menu').mmenu();
			});
			});
		</script>
</body>
</html>