.navbar.navbar-default{
    background:#33485f;
        border-radius: 0px;
    margin-bottom: 0px;
    border: none;
        padding: 0px 60px;
}
ul{
text-decoration: none;
list-style: none;
}
#menu{
    background:#33485f;
}
.nav-head-menu>li.active>a{
        background: #3498db;
        color: #f3f3f3;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f3f3f3;
    background: #ff8c00;
}
.navbar-default .navbar-nav>li>a{color: #f3f3f3;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color: #f3f3f3;}
.user-home{    padding: 15px 5px;}
.user-home>a>span>i{color: #f3f3f3;}

.notification-home{    padding: 15px 20px;}
.notification-home>a>span>i{color: #f3f3f3;}
.navbar-collapse{padding: 0px;}
/***info left ****/
.padding60{padding: 0px 60px;}
.img_profile{width: 75px; height: 75px; border-radius: 50%; border:1px solid green;}
/***edit profile***/
.avatar_profile .den{
    opacity: 0;
    width: 75px;
    height: 75px;
     border-radius: 50%;
    /*background:rgba(1,11,50,0.8) ;*/
    color: white;
    position: absolute;
    bottom: 15px;
    left: 20px;
    transition: all ease-in-out 0.2s;
   -webkit-transform:translate(0, 20%);
   -webkit-transform-origin:0% 50%;
}
.avatar_profile .den a{ 
    top: 37%;
    position: absolute; left:42%;
    box-shadow: none; outline: none;
}
.avatar_profile:hover .den{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    opacity: 1;  
   -webkit-transform:rotateX(360deg);
}
.modal-content{border-radius: 0px;     border: 1px solid green;}
#Modal_change_avatar img{margin:auto;}
#preview_profile_img{margin-top: 15px;}
.info_left1{background:#fff; margin: 0px 15px 15px 15px;}
.info_left1>ul{margin: 15px 0px;}
/*** popup chat ***/
 @media only screen and (max-width : 540px) 
            {
                .chat-sidebar
                {
                    display: none !important;
                }
                
                .chat-popup
                {
                    display: none !important;
                }
            }
            
            body
            {
                background-color: #e9eaed;
            }
            
            .chat-sidebar
            {
                width: 200px;
                position: fixed;
                height: 100%;
                right: 0px;
                top: 50px;
                 background: #fff;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .sidebar-name 
            {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 4px;
                font-size: 12px;
            }
            
            .sidebar-name span
            {
                padding-left: 5px;
            }
            
            .sidebar-name a
            {
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
            
            .sidebar-name:hover
            {
                background-color:#e1e2e5;
            }
            
            .sidebar-name img
            {
                width: 32px;
                height: 32px;
                vertical-align:middle;
            }
            
            .popup-box
            {
                display: none;
                position: fixed;
                bottom: 24px;
                right: 220px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }         
            .popup-box .popup-head
            {
                background-color: #6d84b4;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 90%;
                overflow-y: scroll;
            }
            
             .input_message input{
			         width: 101%;
    margin-left: -1px;
    height: 20px;
    padding: 0px 10px;
			 }
     .message-right{float:right;}
	 .message-right span {
	  padding: 5px 15px;
    background-color: gray;
    border-radius: 10px;
    color: #f2f2f2;
	 }
	  .message-left span {
	  padding: 5px 15px;
    background-color: rosybrown;
    border-radius: 10px;
    color: #f2f2f2;
	 }
	 /***profile ***/
	 .bg-profile{ background:brown;}
	  .bg-profile>ul{   padding: 40px 0px 30px 0px; }
	  .bg-profile>ul>li>h4{   color: #000; }
	  /***form search***/
	.searchbox{
    position:relative;
    min-width:30px;
    width:0%;
    margin-top: 6px;
    height:38px;
    float:right;
    overflow:hidden;
    margin-right:5px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:250px;
    height:38px;
    margin:0;
    padding:0px 25px 0px 15px;
    font-size:15px;
    color:#000;
}
.searchbox-input::-webkit-input-placeholder {
    color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit{
    width:40px;
    height:38px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:14px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:20px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
    background:transparent;
}
.searchbox-open{width:100%;}
.displaynone{display:none;}
.displayblock{display:block;}
.searchbox-icon i{padding: 10px; font-size: 20px;}

#homesearch::-webkit-input-placeholder{
color:#000000;
}
#homesearch:-moz-placeholder{
color:#000000;
}
#homesearch:-o-placeholder{
color:#000000;
}
#homesearch:-ms-input-placeholder{
color:#000000;
}
.ui-helper-hidden-accessible{position: absolute; z-index: 100;
    top: 50px;     background: #f3f3f3;}
	 